body {
  margin: 20%;
}

.hero button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: blanchedalmond;
}

.menu h1 {
  margin-top: 20%;
  text-align: center;
}

.menu article {
  margin-top: 20px;
}

.keunggulan {
  margin-top: 50px;
}

.keunggulan h1 {
    text-align: center;
    margin-bottom: 20px;
}


.keunggulan article {
  margin-top: 20px;
}

footer {
    margin-top: 40px;
    background-color: antiquewhite;
}